@import "./table.scss";
@import "./sidebar.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
* {
  font-family: 'Roboto', sans-serif;
  color: rgb(34, 34, 34);
}
#app { min-height: 100vh; }
.flex1{
  flex: 1;
  width: 100%;
}
button {
  margin-right: 5px;
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
  padding: 4px 8px;
  border-radius: 3px;
  margin: 0 5px;
}
.btn.success {
  background-color: #7fcdb6;
  &:hover {
    background-color: #6cb49f;
  }
}
.btn.danger {
  background-color: rgb(207, 81, 91);
  &:hover {
    background-color: rgb(172, 55, 64);
  }
}
.main-wrapper {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
  margin: 20px;
  padding: 20px;
  flex: 1;
  position: relative;
  border-top: 5px solid #9b98ff;
  
}
.text-danger { color: rgb(207, 81, 91); }
div { display: flex; }
i { color: inherit;}
.col { flex-direction: column; }
.row { flex-direction: row; }
a { text-decoration: none; }
body {
  background-color: rgb(234, 241, 243);
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.router-link-exact-active {
  background-color: rgba(0, 0, 0, 0.171);
  color: white;
  border-right: 5px solid rgb(0, 255, 179) !important;
}
.row.buttons {
  margin: 10px 20px;
  justify-content: flex-end;
}
.field-select {
  font-size: .7rem;
  cursor: pointer;
  padding: 2px 7px;
  background-color: rgb(243, 243, 243);
  margin: 0 5px;
}
.field {
  font-size: .7rem;
  border-radius: 2px;
  background-color: #7fcdb6;
  color: white;
}
.charts-wrapper{
  flex-wrap: wrap;
  justify-content: flex-start;
}
.chart-item{
  // max-width: 35%;
  padding: 20px;
  border: 1px solid #e2e3e5;
  margin: 0px 15px 15px 0;
  // flex: 1;
}