.table-wrapper {
    position: relative;
    // border: 1px solid #e2e3e5;
    // padding: 20px;
    flex: 1;
}
table{
    border-collapse: collapse;
  }
td,th{
    border: 1px solid #e2e3e5;
  }
th {
    padding: 5px;
    text-align: left;
    background-color: #f1f1f1;
}

td {
    position: relative;
}
.simple-table tr>td{
    padding: 4px;
}
.simple-table tr:nth-child(even){
    background-color: rgb(243, 243, 243);
    &:hover{
        
    }
}
.table-filters{
    i{margin-right: 10px;}
    input,select{
        padding: 4px;
        outline: none;
        border: 1px solid #e2e3e5;
        border-radius: 3px;
    }

    align-items: center;
    padding: 10px 0;
    &>.row.table-filter{
        align-items: center;
    }
    .table-filter{
        margin-right: 10px;
        padding: 5px 15px;
        border: 1px solid #e2e3e5;
        border-radius: 3px;
    }
}
th{
    cursor: pointer;
    &:hover{
        background-color: #e3e6e9;
    }
}
th > i{
    color: #949595;
}
input[type="date"]{
    margin-right: 10px;
}